* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
}

img {
  width: 100%;
}

/* Container */

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

/* Main content */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}

/* Header */

header {
  margin-bottom: 3rem;
}

header p {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
}

/* Main content */

.content__title {
  font-weight: 700;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .content__title {
    font-size: 4rem;
  }
}
.content__description {
  font-size: 1.1rem;
  max-width: 300px;
}
.content__button {
  margin-top: 2.4rem;
  font-size: 0.8rem;
  background-color: #333333;
  color: #ffffff;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .graphic {
    padding: 4rem;
  }
}

/* footer */

footer {
  margin-top: 6rem;
  text-align: center;
  font-size: 0.8rem;
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  footer {
    margin-top: 10rem;
  }
}

footer a {
  /* text-decoration: none; */
  font-weight: bold;
  color: #bdbdbd;
}
